.root {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.button {
    width: 100px;
    background: #337ab7;
    border-color: #337ab7;
    color: white;
    border-radius: 4px;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formInput {
    max-width: 400px;
    width: 100%;
}

.rangeInput {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.modalTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
