button.pagination-button.current {
  background-color: #696969;
  color: #FFFFFF;
}

button.pagination-button:focus {
  outline: 2px solid #d3d3d3;
}

button.pagination-button:hover {
  color: #000000;
}

button.pagination-button {
  color: inherit;
}
