.legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.legendDescription {
    font-size: 16px;
    padding-bottom: 50px;
}

.legendDot {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    display: block;
}

.legendElement {
    display: flex;
    gap: 6px;
    font-size: 16px;
}

.legendTitle {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 16px;
}
