.experimentsHeader {
    .cell {
        padding: 8px;
    }

    display: inline-grid;
    grid-template-columns: 40px 170px 170px 1fr 150px;
    text-align: left;
    margin-left: 24px;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    border-bottom: gray solid 1px;
    width: calc(100% - 24px);
}

.experimentInformation {
    .cell {
        padding: 8px;
        height: fit-content;
    }

    display: inline-grid;
    grid-template-columns: 24px 40px 170px 170px 1fr 150px;
    align-items: center;
    text-align: left;
    font-size: 16px;
    width: 100%;
}

.graphContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 24px;
}
